body {
  background-color: aquamarine;
}

/*Footer*/
footer {
  margin-top: 110px;
  font-size: 12px;
  font-family: monospace;
}

#copy {
  font-weight: bold;
}

/* Kotak*/
.box {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
  width: 500px;
  height: 500px;
  border: double 10px;
  background-color: rgb(238, 255, 0);
}

/*Isi Kotak*/
.box h2 {
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: -10px;
  border: dotted;
  border-color: red;
  color: rgb(67, 95, 172);
}

#logo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.btn {
  margin-top: 90px;
}

.btn a {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: solid;
  font-size: 30px;
  text-decoration: none;
}

.btn a:hover {
  background-color: blue;
}

.btn a:active {
  background-color: red;
}
